#faixa1{
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.496);
    padding: 10px;
    margin: 0;
}
#titulo1{
    font-size: 25px;
}
.container{
    list-style: none;
}
.container{
    display: grid;
}
.container-menu li{
    display: inline;
}