#faixa1{
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.496);
    padding: 10px;
    margin: 0;
}
#titulo1{
    font-size: 25px;
}

#trilogia1{
    background-image: url("../../../images/books/A\ Cancao\ do\ Sangue.jpg");
}

#trilogia2{
    background-image: url("../../../images/books/A\ guerra\ dos\ tronos.jpg");
}

.subtitulo{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.container li {
    text-align: center;
    display: inline;
    margin: 5px 5px;
}

.container-menu li{
    display: inline;
    text-align: center;
    cursor: pointer;
}