#faixa1{
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.496);
    padding: 10px;
    margin-bottom: 20px;
}

#btn-sl1{
    border-radius: 50px;
    background-color: #4f4f4f00;
    color: white;
    font-family: 'Grenze Gotisch';
}

#barra-l1{
    border-radius: 50px;
    background-color: #4f4f4f00;
    color: white;
}
#titulo1{
    font-size: 24px;
    margin: 0;
    padding: 0;
}


#trilogia1{
    background-image: url("../../../images/books/A\ Cancao\ do\ Sangue.jpg");
}
#trilogia1 ul li {
    color: rgb(255, 0, 0);
    font-weight: bold;
}
#trilogia1 ul li a {
    color: red;
    outline: darkred;
}

#trilogia2{
    background-image: url("../../../images/dragonice.jpg");
}

#trilogia2 h1{
    color: rgb(255, 166, 41);
}

#trilogia3{
    background-image: url("../../../images/apdc.jpg");
    color: red;
    outline: darkred;
}

#trilogia3 ul li a {
    color: rgb(187, 59, 0);
    outline: darkred;
}
#Livro1{
    background-image: url("../../../images/ihnmaims.jpg");
    color: red;
    outline: darkred;
}

#Livro1 ul li a {
    color: rgb(187, 59, 0);
    outline: darkred;
}
.subtitulo{
    text-align: center;
    color: rgb(179, 0, 0);
    margin: 5px;
    padding: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 15px 0;
    padding: 0;
}
.container li {
    text-align: center;
    display: inline;
    margin: 10px 10px;
}

.container-menu{
    margin: 0;
    padding: 0;
}

.container-menu li{
    display: inline;
    text-align: center;
    cursor: pointer;
    margin: 0px 20px 0px 20px;
    padding: 0;
}